@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Montserrat', sans-serif;
}

.nav .active{
    @apply text-primaryBlue
}

.price-btn{
    @apply text-primaryBlue
    p-2
    px-6
}

.price-btn.active{
    @apply text-pureWhite
    bg-primaryBlue
    rounded-sm
}

.btn:hover{
    @apply -translate-y-1
    transition ease-in-out duration-300
}

.blog-item{
    overflow: hidden;
}

.blog-item:hover .img-transform{
    transform: scale(1.1);
    @apply transition ease-in-out duration-700
}

/* Css for dashboard */

.sidebar .active{
    @apply bg-primaryBlue
    text-pureWhite
}

.btn-toggle-insight .inactive{
    cursor: not-allowed;
    @apply bg-[#C3C3C3]
}
.btn-toggle-insight .active{
    @apply bg-primaryBlue
}

@keyframes move-background {
    0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-10%);
      }
      100% {
        transform: translateX(0);
      }
  }
  
  #moving-bg {
    animation: move-background 30s linear infinite;
    overflow: hidden;
  }

  .sm-bg{
    transition: transform 0.5s ease-out;
  }
  .sm-bg:hover {
    /* Move the background image up by 20px */
    transform: translateY(-20px);
  }

  .home-banner {
    background-image: theme('backgroundImage.home_banner');
  }

  .clocker-banner {
    background-image: theme('backgroundImage.clocker_banner');
  }

  .clocker-iphone {
    background-image: theme('backgroundImage.clocker_iphone');
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }
.join-div{
  margin-bottom: 15rem;
}
  .footer-container {
  
    flex-direction: column;
  }
  