@tailwind base;
@tailwind components;
@tailwind utilities;

.nav .active{
    @apply text-primaryBlue
}

.price-btn{
    @apply text-primaryBlue
    p-2
    px-6
}

.price-btn.active{
    @apply text-pureWhite
    bg-primaryBlue
    rounded-sm
}

.btn:hover{
    @apply -translate-y-1
    transition ease-in-out duration-300
}

.blog-item{
    overflow: hidden;
}

.blog-item:hover .img-transform{
    transform: scale(1.1);
    @apply transition ease-in-out duration-700
}

/* Css for dashboard */

.sidebar .active{
    @apply bg-primaryBlue
    text-pureWhite
}

.btn-toggle-insight .inactive{
    cursor: not-allowed;
    @apply bg-[#C3C3C3]
}
.btn-toggle-insight .active{
    @apply bg-primaryBlue
}